.grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: #D1D1D1;
    grid-template-rows: calc(100vh - 20px);
    gap: 10px;
    padding: 10px;
}

.content {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}